@media (max-width: 575.98px) {
    #display {
        font-size: 1.6rem;
        height: 40px;
    }

    button {
        height: 50px;
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #display {
        font-size: 2rem;
        height: 45px;
    }

    button {
        height: 55px;
        font-size: 1.6rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #display {
        font-size: 2.3rem;
        height: 50px;
    }

    button {
        height: 60px;
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    #display {
        font-size: 2.5rem;
        height: 50px;
    }

    button {
        height: 60px;
        font-size: 1.8rem;
    }
}