/*------------------------------------------Responsive-media-queries--------------------------------------------*/

@media (max-width: 575px) {
    .background-container {
        margin: 10% 12%;
        width: 300px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .background-container {
        margin: 10% 19%;
        width: 420px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .background-container {
        margin: 8% 23%;
        width: 480px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .background-container {
        margin: 6% 28%;
        width: 500px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media (min-width: 1200px) {
    .background-container {
        margin: 3% 33%;
        width: 550px;
        height: 618px;
        border: 2px solid black;
        border-radius: 10px;
    }
}

#display {
    width: 93%;
    height: 12%;
    margin: 3% 3%;
}

.numbers{
    width: 20%;
    height: 5em
}

#plus-mark{
    width: 20%;
    height: 10em;
    margin-top: 1%;
}

#row-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3%;
}

.rows{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    gap: 6.7%;
}

.bottom{
    margin-top: -16.5%;
}

