/*------------------------------------------Responsive-media-queries--------------------------------------------*/

@media (max-width: 575px) {
    .background-container {
        margin: 10% 12%;
        width: 300px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: darkgray;
    }

    .numbers {
        height: 2.3em;
    }

    #btn-plus {
        height: 9em;
    }

    .bottom-2 {
        margin-top: -30%;
    }

    .bottom-1 {
        margin-top: -5%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .background-container {
        margin: 10% 19%;
        width: 420px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: darkgray;
    }

    .numbers {
        height: 2.3em;
    }

    #btn-plus{
        height: 9em;
    }

    .bottom-2 {
        margin-top: -22%;
    }

    .bottom-1 {
        margin-top: -5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .background-container {
        margin: 8% 23%;
        width: 480px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: darkgray;
    }

    .numbers {
        height: 2.3em;
    }

    #btn-plus {
        height: 9em;
    }

    .bottom-2 {
        margin-top: -19%;
    }

    .bottom-1 {
        margin-top: -5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .background-container {
        margin: 6% 28%;
        width: 500px;
        height: 580px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: darkgray;
    }

    .numbers {
        height: 2.3em;
    }

    #btn-plus {
        height: 9em;
    }

    .bottom-2 {
        margin-top: -19%;
    }

    .bottom-1 {
        margin-top: -5%;
    }
}

@media (min-width: 1200px) {
    .background-container {
        margin: 2.5% 30%;
        width: 550px;
        height: 630px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: darkgray;
    }

    .numbers {
        height: 2.5em;
    }

    #btn-plus {
        height: 10em;
    }

    .bottom-2 {
        margin-top: -18%;
    }

    .bottom-1 {
        margin-top: -4%;
    }
}

body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: cadetblue;
    background-image: url("/assets/background-table.png");
    background-repeat: no-repeat;
}

#display {
    width: 93%;
    height: 16%;
    margin: 3% 3%;
    background-color: #e0e7ff;
    border: none;
}

.numbers {
    width: 20%;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: x-large;
    background-color: rgb(88, 91, 99);
    border: none;
    color: white;
}

.numbers:hover {
    background-color: rgb(78, 78, 78);
}

#btn-plus:hover {
    background-color: rgb(78, 78, 78);
}

#btn-plus {
    width: 20%;
    margin-top: 1%;
    border-radius: 7px;
    background-color: rgb(88, 91, 99);
    border: none;
    color: white;
}

#row-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6%;
}

.rows {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    gap: 6.7%;
}